.WeRun {
  width: 100vw;
  height: 70vh;
}

.WeRun__container {
  width: 100%;
  height: 100%;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.WeRun__contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.WeRun__contents > h3 {
  font-size: 30px;
  font-weight: 600;
}

.WeRun__cardlist {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

.card {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.imagebox {
  width: 100%;
  height: 50%;
}

.imagebox > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.concept {
  font-family: "Pretendard-Regular";
  font-size: 20px;
  font-weight: 600;
  color: #444444;
}

@media screen and (max-width: 768px) {
  .WeRun__contents {
    height: 100%;
    padding-top: 100px;
  }
  .WeRun__cardlist {
    flex-direction: column;
  }
}
